table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #4285f4;
    color: white;
    // border: 2px solid black;
    padding: 8px;
    text-align: left;
}

td {
    // border: 2px solid black;
    padding: 8px;
}
.table-row:nth-child(even) {
    background-color: #e6dfdf;
}

@media only screen and (max-width: 600px) {
    th {
        display: none;
    }

    td {
        display: block;
        border: none;
        text-align: center;
    }

    td:before {
        content: attr(data-label);
        display: block;
        font-weight: bold;
    }
}