
// .child{
//     position: absolute;
//     top: 45%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

// .input-field{
//     width: 350px;
//     height: 40px;
// }

// .login-btn{
//     border-radius: 20px;
//     background-color: orangered;
// }


// .circle {
//     position: absolute;
//     width: 8%;
//     height: 15%;
//     top: 240px;
//     left: 627px;
//     border-radius: 50%;
//     background-color: white;
//     clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
//     box-shadow: inset 1px 1px 1px 1px rgba(117, 115, 115, 0.1);
//  }
 
//  .left-box {
//     position: absolute;
//     width: 50%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     overflow: visible;
//  }
 
//  .parent {
//     position: absolute;
//     background-color: #4285f4;
//     width: 50%;
//     height: 100%;
//     top: 0;
//     right: 0;
//     overflow: visible;
//  }
 
.parent {
    display: flex;
    align-items: center;
    background-color: rgb(205, 245, 145);
    height: 100vh;
    width: 100vw;
}

.child {
    margin: 0 auto;
    background-color: rgb(108, 211, 108);
    height: 50vh;
    width: 50vw;
    border-radius: 20px;
}
