<!-- <br>
<div class="container main-box d-flex">
    <div class="container left-box w-50 text-center">
        <br>
        <h4>
            A first of its kind, AIML based recruitment software (workbench) with world’s first crowdsourcing platform
            to source ready-for-interview jobseekers in less than 10% of time required in manual process and reduce the
            cost of sourcing process by 50% or more…
        </h4>
        <br>
        <img src="https://via.placeholder.com/500x350" alt="">
        
    </div>
    <div class="parent w-50">
        <div class="child">
            <h2 class="text-white text-center">User Login</h2>
            <br>
            <input type="text" class="form-control input-field" placeholder="Enter user ID">
            <br>
            <input type="password" class="form-control input-field" placeholder="Enter password">
            <p class="text-white text-end">Forgot password?</p>
            <div class="text-center">
                <button class="btn btn-success w-50 login-btn">Login</button>
            </div>
        </div>
    </div>
    <div class="circle"></div>
</div> -->

<div class="parent">
    <div class="container child">
        <br>
        <h2 class="text-center">User Login</h2>
        <br>
        <input type="text" class="form-control input-field" placeholder="Enter user ID">
        <br>
        <input type="password" class="form-control input-field" placeholder="Enter password">
        <p class="text-white text-end">Forgot password?</p>
        <div class="text-center">
            <button class="btn btn-success w-50 login-btn">Login</button>
    </div>
    </div>
</div>