.image {
    height: 75vh;
    width: 47vw;
}

// .left-box {
//     box-shadow: 0px 0px 10px #000, 5px 5px 15px #ccc;
//     }
.left-box {
    box-shadow: -2px 2px 53px -35px grey;
    width: 35%;
}

.right-box {
    width: 65%;
}

.forgot-password-wrapper{
width: 560px;
}

.forgot-password-header{
    background-color: #4285f4;
}