.div1{
    background-color:#4285f4 ;
}

.FP-div{
    border: 1px solid rgb(170, 167, 167);
    border-radius: 6px;
}

// .FP-wrapper{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

.close-icon{
    background-color: transparent; 
    border: none;
}