<!-- <div class="p-5">
<div class="FP-div w-50">
    <div class="container d-flex justify-content-between div1 p-2">
        <span><h5 class="text-white mt-1">Forgot Password</h5></span>
        <button>
            <i class="fa-solid close-icon fa-xmark"></i>
        </button>
    </div>
    <br>
    <div class="container form-group">
        <label for="userId">User ID<span style="color: red">*</span></label>
        <input type="text" class="form-control" id="userId" placeholder="Enter your user ID">
</div>
<br>
<div class="container d-flex justify-content-end">
    <button class="btn btn-outline-danger me-3">Close</button>
    <button class="btn btn-outline-success">Find My Account</button>
</div>
<br>
</div>
</div> -->
<!-- 
<div class="container form-group">
    <label for="userId">User ID<span style="color: red">*</span></label>
    <input type="text" class="form-control" id="userId" [(ngModel)]="userId" placeholder="Enter your user ID">
  </div>
  <br>
  <div class="container d-flex justify-content-end">
    <button class="btn btn-outline-danger me-3" (click)="onClose()">Close</button>
    <button class="btn btn-outline-success" (click)="onSubmit()">Find My Account</button>
  </div> -->
  